.latest-post-h2 {
    text-align: center;
    padding-top: 100px;
  }
  
  .latest-post-container {
    display: inline-block;       
    text-decoration: none;    
    color: inherit;           
    max-width: 250px;           
    margin: 1rem auto;          
    padding: 1.5rem;            
    background-color: #cfcdcd;   
    border-radius: 8px;        
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;         
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;            
  }
  
  body.light .latest-post-container {
    background-color: white;
  }
  
  .latest-post-container:hover {
    transform: translateY(-10px);                  
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.208);     
  }
  
  .latest-post-container p {
    margin: 0.5rem 0;
    line-height: 1.1;
    font-size: 14px;
  }
  
  .latest-post-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 1rem;
  }

  .user-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .user-avatar {
    width: 80px;
    height: 60px;
    border-radius: 100% 10px;
    margin-right: -.5rem;
  }
  
  .user-name {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1rem;
  }
  body.light .user-name{
    color: black;
  }